@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus{
    outline: 4px solid #82b89e;
    border-radius: 8px;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #3b755f;
    
}
.active{
    border-bottom: 2px solid #FFFFFF;
}
.main-header{
    position: sticky;
    top: 0;
    z-index: 1000; /* Header har doim yuqorida turishi uchun */
    width: 100%;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b755f;
    padding: 15px 30px;
    color: white;
    border-bottom: 2px solid #FFFFFF;
    position: sticky; /* Scroll qilinganda ham joyida turadi */
    top: 0;
    z-index: 1000;
}
.logo{
    font-size: 1.8rem;
}
.logo .green {
    font-weight: bold;
}

.shop {
    background-color: white;
    color: #3b755f;
    padding: 3px 6px;
    border-radius: 4px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 5px 16px;
    flex-grow: 1;
    max-width: 650px;
}

.search-bar {
    text-align: center;
    border: none;
    outline: none;
    padding: 6px 0;
    font-size: 14px;
    width: 100%;
}

.search-button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.search-button i{
    color: #3b755f;
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
.actions i{
    padding-right: 0.5rem;
}
.basket {
    color: white;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    
}

.register {
    background-color: #5a9e7e;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.language select {
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #3b755f;
    padding: 8px 0;
    position: sticky;
    top: 62px; /* Header bilan to'qnash kelmasligi uchun */
    z-index: 999;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    color: white;
    font-weight: bold;
}

.nav-item {
    cursor: pointer;
    font-size: 1.8rem;
    transition: ease-in-out 0.2s;
}
.nav-item a{
    color: #FFFFFF;
    text-decoration: none;
}
.nav-item:hover{
    background-color: #5a9e7e;
    border-bottom: 4px solid rgb(255, 255, 255,0.8);
    padding: 0 12px;
    border-radius: 12px;
}
.nav-item:active{
    border-bottom: 2px solid #FFFFFF;
}
.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}
.banner{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner img{
    width: 100%;
    
    border-radius: 8px;
    margin: 1rem 0;
}
.login a{
    text-decoration: none;
    color: #FFFFFF;
}
.product-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    border-radius: 16px;
}
.product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
}

.product-card{
    width: 16rem;
    background-color: #FFFFFF;
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 12px;
    margin: 0 1rem;
}
.product-card h2{
    padding-right: 6rem;
    color: #3b755f;
    font-size: 1.2rem;
}
.product-card h2 span{
    color: #FFFFFF;
    background-color: #3b755f;
    padding: 0 8px;
    border-radius: 2px;
}
.product-card img{
    width: 80%;
}
.product-price,
.buy-button{
    margin-left: 8rem;
}
.product-price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 2rem;
}
.old-price{
 text-decoration: line-through;
 color: brown;
}
.buy-button{
    border: none;
    background-color: #3b755f;
    padding: 4px 12px;
    color: #FFFFFF;
    font-size: 1rem;
    border-radius: 4px;
    text-decoration: none;
}
.slider{
    color: #FFFFFF;
    font-size: 2rem;
}
.more-button{
    width: 18%;
    text-align: center;
    text-decoration: none;
    color: #3b755f;
    background-color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 12px;
    transition: ease-in 0.2s;
}
.more-button:hover{
    background-color: #3b755f;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.more-button:active{
    transform: scale(0.1);
}



.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255, 0.5);
    height: 35vh;
    border-radius: 16px;
    padding: 2rem;
    margin: 2rem 0;
}

.footer-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    
    
}
.footer-items h3{
    color: #FFFFFF;
    font-size: 1.4rem;
}
.footer-items ul{
    list-style: none;
    color: #FFFFFF;
}

.footer-items ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-powered span{
    font-size: 1.2rem;
    font-weight: 600;
    color: aliceblue;
    
}